# This file is consumed by cloud-init NoCloud/NoCloudNet as "network-config"
# It is written into /etc/network/interfaces.d/20-cloud-init (eni renderer)

auto {{ net.ifname | default('end0') }}

{% if (net.mode | default('dhcp')) == 'static' %}
iface {{ net.ifname | default('end0') }} inet static
    address {{ (net.address.split('/')[0]) }}
    netmask {{ netmask_from_prefix(net.address) }}
    gateway {{ net.gateway }}
{% if net.dns is defined and net.dns %}
    dns-nameservers {{ net.dns | join(' ') }}
{% endif %}
{% if net.search is defined and net.search %}
    dns-search {{ net.search | join(' ') }}
{% endif %}

{% else %}
iface {{ net.ifname | default('end0') }} inet dhcp

{% endif %}
