auto {{ net.ifname | default('end0') }}
iface {{ net.ifname | default('end0') }} inet {% if (net.mode | default('dhcp')) == 'static' %}static{% else %}dhcp{% endif %}
{% if net.mac is defined and net.mac %}
    hwaddress ether {{ net.mac }}
{% endif %}
{% if (net.mode | default('dhcp')) == 'static' %}
    address {{ net.address.split('/')[0] if '/' in net.address else net.address }}
    netmask {{ net.netmask | default('255.255.255.0') }}
    gateway {{ net.gateway }}
{% if net.dns is defined and net.dns %}
    dns-nameservers{% for d in net.dns %} {{ d }}{% endfor %}
{% endif %}
{% if net.search is defined and net.search %}
    dns-search{% for s in net.search %} {{ s }}{% endfor %}
{% endif %}
{% endif %}
